.content {
    margin: 0;
    padding: 0;
    background: #F7F7F7;
}

.content__text_font_lora {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
}

.content__text_font_oxygen {
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.header {
    background: url(../images/header_background.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: auto;
    padding-top: 20px;
    color: #FFFFFF;
}

.header__block {
    width: 64%;
    margin: 0 auto 0 auto;
}

.header__block_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__block_title {
    margin-top: 131px;
    text-align: center;
}

.header__logo {
    font-size: 26px;
    line-height: 1;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 336px;
}

.header__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.67;
    color: inherit;
    letter-spacing: 0.6px;
}

.header__title {
    margin: 0 0 20px 0;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1.02;
}

.header__description {
    font-size: 17px;
    line-height: 1.18;
    color: rgba(255, 255, 255, 0.63);
    margin: 0;
}

.header__button {
    width: 167px;
    height: 44px;
    background: #DD783F;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
    margin: 31px;
    font-size: 13px;
    line-height: 1.54;
}

.sub-nav {
    margin: 0 auto 0 auto;
    width: 59.6%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-nav__link {
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #768088;
    text-decoration: none;
}

.sub-nav__background {
    background: #FFFFFF;
}

.article-section {
    width: 66.1%;
    margin: auto;
    /* height: 1255px; */
}

.article-section__title {
    margin: 60px 0 23px 0;
    text-align: center;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 2px;
}

.article-section__title::after {
    display: block;
    content: '';
    width: 188px;
    height: 1px;
    background: #DEDEDE;
    margin: 0 auto 0 auto;
    margin-top: 16px;
}

.article-section__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-feature {
    background: url(../images/the_road_ahead_image.png);
    width: 420px;
    height: 240px;
    padding: 20px;
    color: #FFFFFF;
}

.article-feature_left {
    background: url(../images/the_road_ahead_image.png);
}

.article-feature_right {
    background: url(../images/from_top_down_image.png);
}

.article-feature__title{
    margin: 137px 0 6px 0;
    font-size: 27px;
    line-height: 1.111;
}

.article-feature__description {
    margin: 0 0 12px 0;
    font-size: 14px;
    line-height: 1.785;
    color: rgba(255, 255, 255, 0.7);
}

.article-feature__avatar {
    border-radius: 50%;
}

.article-feature__autor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}

.article-feature__autor_align {
    display: inherit;
    justify-content: space-between;
    align-items: center;
}

.article-feature__bottom-text {
    font-size: 12px;
    line-height: 2.92;
    margin-left: 10px;
}