body._lock {
    overflow: hidden;
}

.header {
    background: url(/static/images/header_background.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: auto;
    padding: 0;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__wrapper {
    width: 74%;
    padding: 20px;
}

.content__button {
    transition: all ease 0.28s;
}

.content__button:hover {
    opacity: 0.8;
}

.content__button:active {
    scale: 0.87;
}

.header__block {
    width: 442px;
    margin: 0 auto 0 auto;
}

.header__block_menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
}

.header__block_title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.header__logo {
    z-index: 4;
    font-size: 26px;
    line-height: 1;
}

.menu__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 336px;
}

.menu__link {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.6px;
}

.menu__icon {
    display: none;
}

.header__title {
    margin: 0 0 20px 0;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1.02;
}

.header__description {
    font-size: 17px;
    line-height: 1.18;
    color: rgba(255, 255, 255, 0.63);
    margin: 0;
}

.header__button {
    width: 167px;
    height: 44px;
    background: #DD783F;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
    margin: 31px;
    font-size: 13px;
    line-height: 1.54;
    cursor: pointer;
}

.sub-nav {
    margin: 0 auto;
    max-width: 440px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #768088;
}

.sub-nav__link {
    font-size: 14px;
    width: 112px;
    line-height: 60px;
    text-align: center;
}

.sub-nav__background {
    background: #FFFFFF;
}

.article-section {
    max-width: 440px;
    padding: 0 20px;
    margin: 0 auto 108px auto ;
}

.article-section__title {
    margin: 60px 0 23px 0;
    text-align: center;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 2px;
}

.article-section__title::after {
    display: block;
    content: '';
    width: 188px;
    height: 1px;
    background: #DEDEDE;
    margin: 0 auto 0 auto;
    margin-top: 16px;
}

.article-section__block {
    margin: 0;
}

.article-section__block_feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article-section__block_recent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.article-feature {
    margin-bottom: 20px;
    max-width: 100%;
    height: 280px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    position: relative;
}

.article-feature:last-child {
    margin-bottom: 0;
}

.article-feature__wrapper {
    height: 240px;
    padding: 20px;
    display: flex;
    align-items: end;
}

.article-feature__image {
    height: 280px;
    z-index: -2;
    border-radius: 3px;
    max-width: 100%;
    object-fit: cover;
    position: absolute;
}

.article-feature__content {
    z-index: -1;
    width: 100%;
}

.article-feature_metka {
    width: 87px;
    height: 26px;
    border-radius: 2px;
    background: #DD783F;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 2.16;
    top: 20px
}

.article-feature_metka_on {
    display: block;
}

.article-feature_metka_on {
    display: none;
}

.article-feature__title {
    margin: 0 0 6px 0;
    font-size: 27px;
    line-height: 1.111;
}

.article-feature__description {
    margin: 0 0 8px 0;
    font-size: 14px;
    line-height: 1.785;
    color: rgba(255, 255, 255, 0.7);
}

.article-feature__avatar {
    border-radius: 50%;
}

.article-feature__autor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}

.article__autor_align {
    display: inherit;
    justify-content: space-between;
    align-items: center;
}

.article-feature__bottom-text {
    font-size: 12px;
    line-height: 2.92;
    margin-left: 10px;
}

.article-recent {
    width: 100%;
    min-height: 291px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-recent__image {
    width: inherit;
    height: 150px;
    object-fit: cover;
}

.article-recent__title {
    font-size: 16px;
    line-height: 1.31;
    color: #101315;
    margin: 0 0 6px 0;
}

.article-recent__description {
    font-size: 13px;
    line-height: 1.46;
    color: #7A7A7A;
    margin: 0;
}

.article-recent__text {
    min-height: 62px;
    padding: 13px;
}

.article-recent__bottom-text {
    height: 24px;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #EFEFEF;
    background: #FCFCFC;
    color: #999999;
}

.article-recent__avatar {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;
}

.article-recent__name {
    font-size: 11px;
    line-height: 3.18;
    margin-left: 10px;
}

.article-recent__date {
    font-size: 12px;
    line-height: 2.92;
}

.article-recent__wrapper {
    width: 100%;
}

@media screen and (min-width: 767px) {
    .header__block {
        width: 705px;
    } 

    .sub-nav {
        max-width: 705px;
    }
    
    .article-section {
        max-width: 705px;
    }

    .article-section__block_feature {
        flex-direction: row;
    }

    .article-section__block_recent {
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
    }

    .article-feature {
        width: 345px;
        margin: 0;
    }

    .article-recent {
        width: 222px;
    }
}

@media screen and (max-width: 767px) {
    .menu__icon {
        display: block;
        z-index: 5;
        position: relative;
        width: 35px;
        height: 16px;
        cursor: pointer;
    }
    
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        position: absolute;
        left: 0;
        height: 12.5%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #D9D9D9;;
    }
    
    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    
    .menu__icon::before {
        top: 0;
    }
    
    .menu__icon::after {
        bottom: 0;
    }
    
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__body {
        z-index: 3;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(35, 47, 56, 0.9);
        transition: all 0.3s ease 0s;
        padding: 90px 0 0 0;
        overflow: auto;
        transform: translate(-100%, 0px);
        display: flex;
        justify-content: center;
    }

    .menu__body._active {
        transform: translate(0px, 0px);
    }

    .menu__list {
        flex-direction: column;
        align-items: start;
        height: 150px;
        width: 440px;
    }

    .menu__link {
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .header__block {
        width: 940px;
    }

    .sub-nav {
        max-width: 940px;
    }
    
    .article-section {
        max-width: 940px;
    }

    .article-section__block_recent {
        gap: 25px;
    }

    .article-feature {
        width: 460px;
    }

    .article-recent {
        width: 296px;
    }
}